* {
    font-family: 'Courier New', Courier, monospace
}

/*variables for commonly used sizes and colors*/
:root {
    --borders: 10px;
    --mainColor: #5c5e60;
}

body {
    background-color: #212016;
    color: aliceblue;
}

/*styling for header and elements within it*/
header {
    background-color: var(--mainColor);
    width: 100%;
    display: inline-flex;
    max-height: 150px;
    margin-bottom: 10px;
    border-radius: var(--borders);
}

#avatar {
    max-height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    width: 70px;
    border-radius: var(--borders);
}

header h1{
    font-size: 50px;
    margin-left: 20px;
    margin-right: 50px;
}

#header-ul {
    font-size: 25px;
    float: left;
    text-decoration: underline;
    list-style: none;
    display: inline-flex;
}

/*styling for nav links*/
.nav {
    margin-left: 150px;
    margin-top: 25px;
}

/*styling for the "banner" image under the header*/
.banner {
    max-height: 200px;
    background-color: var(--mainColor);
    width: 100%;
    margin-bottom: 15px;
    border-radius: var(--borders);
}

.banner img{
    width: inherit;
    height: 200px;
    border-radius: var(--borders);
}

/*styling for the aside section for the titles (h2)*/
aside {
    width: 25%;
    background-color: var(--mainColor);
    border-radius: var(--borders);
    border-right-style: solid;
    border-color: #b1f2ff;
    border-width: 15px;
    margin-right: 20px;
}

/*styling for the titles of each sections*/
aside h2 {
    font-size: 50px;
    margin-left: 20px;
}

/*styling for section and the artcles within those sections*/
section {
    display: inline-flex;
    margin-bottom: 20px;
    height: 300px;
    border-radius: var(--borders);
    width: 100%;
}

article {
    background-color: var(--mainColor);
    padding: 5px;
    border-radius: var(--borders);
    width: 75%;
}

/*styling for work image block sections*/
.work {
    width: 36%;
    margin-right: 10px;
    text-align: center;
}

/*styling for contact me section elements*/
#contact-me {
    display: inline-flex;
    list-style: none;
}

#contact-me li {
    margin-right: 200px;
    margin-top: 100px;
    font-size: 30px;
    text-decoration: underline;
}

/*styling for images of work*/
#module1-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--borders);
}

#prework-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--borders);
}

/*styling for about me text (p)*/
#about-me {
    font-size: 25px;
    margin: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

/*styling for links*/
a {
    list-style: none;
    color: aliceblue;
}